html,
body {
    padding: 0;
    margin: 0;
    text-align: left;
    color: #003290;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.1;
    font-size: 2em;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
}

p {
    margin: 0;
    margin-top: 50px;
    font-size: 1.25em;
}

a {
    color: inherit;
    text-decoration: none;
}

.br {
    display: static;
}

code {
    background: #fcfcfc;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    box-shadow: 0 3px 8px rgba(61, 64, 91, .05);
    border: 3px solid rgba(61, 64, 91, .1);
    display: block;
    text-decoration: underline;
    color: grey;
}

code a:hover {
    text-decoration: underline 3px rgba(61, 64, 91, .1);
}

/*******************************************/
/* Animations */
/*******************************************/

.fade-1 {
    animation: fadeinLoad-1 1s 0.5s forwards;
    opacity: 0;
}

@keyframes fadeinLoad-1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-2 {
    animation: fadeinLoad-2 1s 1s forwards;
    opacity: 0;
}

@keyframes fadeinLoad-2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-3 {
    animation: fadeinLoad-3 1s 1.5s forwards;
    opacity: 0;
}

@keyframes fadeinLoad-3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-4 {
    animation: fadeinLoad-4 1s 2s forwards;
    opacity: 0;
}

@keyframes fadeinLoad-4 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*******************************************/
/* Animations */
/*******************************************/


/*******************************************/
/* Layout */
/*******************************************/

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    z-index: 1;
    background: white;
}

.hero {
    padding: 50px 25px;
    background-color: #e7f3ff;
    border-radius: 2em 2em 2em 2em;
    /* height: 80vh; */
    margin: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(250px, auto); */
    grid-gap: 1em;
    /* max-width: 1000px; */
    /* margin-bottom: 50px; */
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px double black;
    border-radius: 20px;
    box-shadow: 0 20px 15px rgba(61, 64, 91, .05);
    transition: 0.4s ease-in-out all;
    background: rgba(61, 64, 91, .05);
}

.card:hover {
    transform: scale(1.05);
}

.tech {
    width: 50%;
}

/*******************************************/
/* Layout */
/*******************************************/

.athletic {
    text-decoration: underline;
    text-decoration-style: double;
    -webkit-animation-name: doubleUnderline;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation-name: doubleUnderline;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/* @keyframes doubleUnderline {
    from {
        text-decoration: none;
        text-decoration-style: none;
    }

    to {
        text-decoration: underline;
        text-decoration-style: double;
    }
} */

.small {
    max-width: 1000px;
}

.k4 {
    text-decoration: underline;
    color: orange;
}

.readme {
    color: #118cfd;
}

/*******************************************/
/* Navigation */
/*******************************************/
.nav {
    margin-top: 50px;
}

.next,
.prev {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

.next {
    bottom: 5px;
    right: 5px;
}

.prev {
    bottom: 5px;
    left: 5px;
}

.right {
    display: block;
    margin: auto;
}

.left {
    display: block;
    margin: auto;
}

/*******************************************/
/* Navigation */
/*******************************************/

.projects h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    margin-top: 3rem;
}

/*******************************************/
/* About me picture */
/*******************************************/

.xsmall {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}

.me img {
    border: 5px double black !important;
    border-radius: 20px !important;
    box-shadow: 0 20px 15px rgba(61, 64, 91, .05);
    width: 100%;
}


figcaption {
    text-align: center;
    font-size: 14px;
}

figure {
    margin: 20px 0;
}

.btn {
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
    color: black;
    background: orange
}

/*******************************************/
/* About me picture */
/*******************************************/

/*******************************************/
/* Projects */
/*******************************************/

.projects {
    padding: 25px;
}

.projects .grid {
    grid-template-columns: 1fr;
}

.group {
    border: 5px double black;
    border-radius: 20px;
    box-shadow: 0 20px 15px rgba(61, 64, 91, .05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.4s ease-in-out all;
    background: #e7f3ff;
}

.group:hover {
    transform: scale(1.05);
}


/* .group p:last-child {
    margin-top: 1em;
} */

.group p:nth-child(3) {
    color: orange;
    letter-spacing: 1px;
    font-weight: bold;
}

.group h4 {
    font-size: 1.5rem;
    margin: 0;
}

/*******************************************/
/* Projects */
/*******************************************/

.codeNguyen {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    position: relative;
    top: 0;
    margin-left: 5px;
    transition: top 0.2s ease-in-out;
}

.avatar:hover {
    cursor: pointer;
    top: -10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 375px) {
    h1 {
        font-size: 3.8rem;
    }
}

@media only screen and (min-width: 425px) {
    h1 {
        font-size: 4rem;
    }

    .projects {
        padding: 25px 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 5rem;
    }

    .hero {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero h2 .br {
        display: none;
    }

    /* Hero container max-width from here on */
    .hero p {
        max-width: 500px;
    }

    .me img {
        width: initial;
        display: block;
        margin: auto;
    }

    figure {
        margin-top: 40px;
    }

    .projects {
        padding: 25px 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hero {
        padding-left: 100px;
        padding-right: 100px;
    }

    .hero p {
        max-width: 550px;
    }

    .projects .grid {
        grid-template-columns: 1fr 1fr;
    }

    /* WP prod adds an extra inner div on groups */
    .group {
        display: grid;
    }

    .group div {
        display: grid;
        /* grid-template-rows: 1fr 1fr 2fr; */
        grid-auto-rows: minmax(100px, auto);
    }

    .group div h4 {
        align-self: start;
    }

    .group div p:nth-child(2) {
        align-self: start;
        margin-top: 0;
    }

    .group div p:nth-child(3) {
        align-self: end;
        margin-top: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* .hero {
        padding-left: 200px;
        padding-right: 200px;
    } */

    .hero p {
        max-width: 725px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
    }

    figure {
        margin-top: 103px;
    }

    .projects .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero {
        padding: 25px 200px;
    }
}

@media only screen and (min-width: 1440px) {

    h3,
    p {
        font-size: 18px;
        line-height: 1.3;
    }

    .projects {
        padding: 50px 200px;
    }

    .projects .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}