.effect-1 {
    overflow: hidden;
}

.effect-1::after {
    content: '';
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg,
            hsla(0, 100%, 76%, 1) 0%,
            hsla(237, 100%, 73%, 1) 100%);
    z-index: -1;
}